SECRET_KEY={DJANGO_SECRET_KEY}
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Supabase Postgres, via the session pooler (for IPv4; can use direct connection for IPv6)
DATABASE_URL=postgresql://postgres.{PROJECT_LINK}:{PASSWORD}@{SUPABASE_HOST_LINK}:5432/postgres

# Previous local Postgres (managed with pgAdmin, owner postgres):
# DATABASE_URL=postgres://{owner}:{password}@localhost:5432/collabera_mini_project